  html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }

  .Menu {
    height: 100%;
    overflow-y: auto; 
    margin: 0;
    padding: 5% 0;
    color: #3d52a0;
    font-family:'Tahoma', sans-serif;
    background: linear-gradient(100deg, #adbbda 60%, #ede8f5 60%);
    min-height: 100%;
  }
  

  .contacts {
    z-index: 1000;   
    display: flex;
    flex-direction: column;
    background-color: #3d52a0;
    width: 100%;
    padding: 5px 0;
    font-family: 'Tahoma', sans-serif;
    color: #ede8f5;
    font-size: 15px;
      
  }

  
  table {
    width: 35%;
    height: 50px;
    margin-left: 20px;
  }
 
  td {
    text-align: left;
   
  }
  